<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <h1>Hello World</h1>
    <LINK rel="stylesheet" type="text/css" href="/css/nuevo.css" >
</head>
<body>
    <form method='post' action='/loginPrueba'>
        <input type='user' name='user' id='user' placeholder='Usuario' required >
        <input type='passwrd' name='passwrd' id='passwrd' placeholder='Contraseña' required>
        <input type='submit' value="Login">
    </form>

    <br>




    
</body>
</html>